<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/consumable.js"></script>
</head>

<body>

<div ng-app="myApp" ng-controller="myCtrl">
	<div>
		<input type="text" id="input" />
	</div>
	<div>
		<input type="button" id="connectBtn" value="CONNECT"
			ng-click="connect()" /> <input type="button" id="sendBtn"
			value="SEND" ng-click="send()" disabled="true" />
	</div>
	<div id="output">
		<p>Output</p>
	</div>
</div>
</body>

<script type="text/javascript">
	
</script>
</html>
